<h3>Inside FullScreenDemo Component</h3>

<div>
  {{#if fullscreen}}
    <strong>We are currently fullscreened.</strong>
    <p>
      <button {{action 'exitFullscreen'}}>Click here to exit fullscreen</button>, or hit Esc.
    </p>
  {{else}}
    <strong>We are not currently fullscreened.</strong>
    <p>
      <button {{action 'enterFullscreen'}}>Click here to enter fullscreen</button>
    </p>
  {{/if}}

  <p>
    <button {{action 'toggleFullscreen'}}>Click here to toggle fullscreen</button>
  </p>
</div>
